## 1. Access the Google Sheet Complete

In [5]:
import gspread 
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd
# from mysql import connector
import numpy as np
import traceback
from datetime import datetime, timedelta
import time

In [19]:
scope= ['https://spreadsheets.google.com/feeds']
creds = ServiceAccountCredentials.from_json_keyfile_name('our-sign-312610-36119a9d9e84.json', scope)
client = gspread.authorize(creds)

In [22]:
sheet_ID= '1uThYmBCT17XTeRJBffZ3ddLSM1DNtZnOliMIB_nDvVM'
sheet = client.open_by_key(sheet_ID).get_worksheet(2)

In [23]:
new_data= sheet.get_all_records()
new_df=pd.DataFrame(new_data)
new_df

,Country,University,Rank,GRE ?,IELTS,Application Deadline,Application Fee,Professor,Site,Email,First email
0,,,,,,,,,,,
1,Australia,Monash University,,,,,,Wray Buntine,https://research.monash.edu/en/persons/wray-bu...,Wray.Buntine@monash.edu,
2,,,,,,,,Geoff Webb,http://i.giwebb.com/,geoff.webb@monash.edu,
3,,,,,,,,Mark James Carman,https://users.monash.edu.au/~mcarman/,mark.carman@monash.edu,

# 2. Scraper

In [24]:

from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import WebDriverWait
import time
from selenium.webdriver.support import expected_conditions as EC

In [3]:

csrankings = pd.read_csv('https://csrankings.org/csrankings.csv')
csrankings

,name,affiliation,homepage,scholarid
0,A Min Tjoa,TU Wien,http://www.ifs.tuwien.ac.at/tjoa,x8qCMhcAAAAJ
1,A. Akbari Azirani,IUST,http://ce.iust.ac.ir/page.php?slct_pg_id=6537&...,pCil4_cAAAAJ
2,A. Akbariazirani,IUST,http://ce.iust.ac.ir/page.php?slct_pg_id=6537&...,pCil4_cAAAAJ
3,A. Aldo Faisal,Imperial College London,https://www.imperial.ac.uk/people/a.faisal,WjHjbrwAAAAJ
4,A. Antony Franklin,IIT Hyderabad,http://www.iith.ac.in/~antony/index.html,LVfqLuoAAAAJ
...,...,...,...,...
27038,Özgür Erkent,Hacettepe University,https://web.cs.hacettepe.edu.tr/~ozgurerkent,5QMAbisAAAAJ
27039,Özgür Ulusoy,Bilkent University,http://www.cs.bilkent.edu.tr/~oulusoy,M_vU9pQAAAAJ
27040,Öznur Tastan,Sabancı University,http://people.sabanciuniv.edu/otastan,8ljjXmEAAAAJ
27041,Öznur Özkasap,Koç University,http://home.ku.edu.tr/~oozkasap,v2WiJeIAAAAJ
27042,Ümit V. Çatalyürek,Georgia Institute of Technology,https://www.cc.gatech.edu/~umit,OLDMURQAAAAJ

In [6]:
authorInfo = pd.read_csv('https://csrankings.org/generated-author-info.csv')
authorInfo.head()

,name,dept,area,count,adjustedcount,year
194820,Ümit V. Çatalyürek,Georgia Institute of Technology,sc,1.0,0.11111,2013
194821,Ümit V. Çatalyürek,Georgia Institute of Technology,sc,1.0,0.20000,2021
194822,Ümit V. Çatalyürek,Georgia Institute of Technology,vldb,1.0,0.20000,2013
194823,Ümit V. Çatalyürek,Georgia Institute of Technology,www,1.0,0.25000,2013
194824,Ümit V. Çatalyürek,Georgia Institute of Technology,www,1.0,0.25000,2015

In [5]:
countryInfo = pd.read_csv('https://csrankings.org/country-info.csv')
countryInfo

                     institution  region countryabbrv
0                           AUEB  europe           gr
1             Aalborg University  europe           dk
2               Aalto University  europe           fi
3              Aarhus University  europe           dk
4         Aberystwyth University  europe           uk
..                           ...     ...          ...
415            Yonsei University    asia           kr
416              York University  canada           ca
417  Yıldız Technical University  europe           tr
418          Zhejiang University    asia           cn
419           Özyeğin University  europe           tr

[420 rows x 3 columns]